<footer class="footer bg-darken-1 clearfix py4 mt3">

  <div class="container px3 sm-px4">

    <div class="clearfix">
      <div class="sm-col sm-col-6">
        <p class="left-align mb2"><a href="{{ "/search" | prepend: site.baseurl}}">Search</a>  | <a href="{{ "/blog" | prepend: site.baseurl}}">Blog</a> | Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
      <div class="sm-col sm-col-6">
        <p class="right-align mb2">Made with <svg class="js-geomicon geomicon" height="0.8em" data-icon="heart" viewBox="0 0 32 32" style="fill:#007FFF"><title>heart icon</title><path d="M0 10 C0 6, 3 2, 8 2 C12 2, 15 5, 16 6 C17 5, 20 2, 24 2 C30 2, 32 6, 32 10 C32 18, 18 29, 16 30 C14 29, 0 18, 0 10"></path></svg> by <a href="http://twitter.com/mynameiswilson">@mynameiswilson</a></p>

        <p class="right-align mb2"><svg class="js-geomicon geomicon" height="0.8em" data-icon="cog" viewBox="0 0 32 32" style="fill:#007FFF"><title>cog icon</title><path d="M14 0 H18 L19 6 L20.707 6.707 L26 3.293 L28.707 6 L25.293 11.293 L26 13 L32 14 V18 L26 19 L25.293 20.707 L28.707 26 L26 28.707 L20.707 25.293 L19 26 L18 32 L14 32 L13 26 L11.293 25.293 L6 28.707 L3.293 26 L6.707 20.707 L6 19 L0 18 L0 14 L6 13 L6.707 11.293 L3.293 6 L6 3.293 L11.293 6.707 L13 6 L14 0 z M16 10 A6 6 0 0 0 16 22 A6 6 0 0 0 16 10"></path></svg> with <a href="https://github.com/clarklab/chowdown">Chowdown</a></p>


      </div>
    </div>
    
  </div>

</footer>
