<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "name": "{{ page.title }}",
  "image": [
  "{{page.image}}"
  ],
  "author": {
    "@type": "Person",
    "name": "{{page.author}}"
  },
  "datePublished": "{{page.date }}",
  "description": "{{ page.content | strip_html }}",
  {% if page.preptime %}"prepTime": "PT{{ page.preptime | round }}M",{% endif %}
  {% if page.cooktime %}"cookTime": "PT{{ page.cooktime | round }}M",{% endif %}
  {% if page.preptime && page.cooktime %}"totalTime": "PT{{ page.preptime | plus: page.cooktime | round }}M",{% endif %}
  "keywords": "{{page.keywords}}",
  /* "recipeYield": "10 servings", */
  "recipeCategory": "{{page.category}}",
  "recipeCuisine": "{{page.cuisine}}",
  "nutrition": {
    "@type": "NutritionInformation",
    "calories": "{{page.calories}}"
  },
  "recipeIngredient": [
    {% if page.ingredients %}
      {% for ingredient in page.ingredients %}
      {% if forloop.first == false %},{% endif %}
      "{{ ingredient | xml_escape }}"
      {% endfor %}
    {% endif %}
    ],
  "recipeInstructions": [
  {% for direction in page.directions %}
    {% if forloop.first == false %},{% endif %}
    {
      "@type": "HowToStep",
      "text": "{{ direction | xml_escape }}"
    }
  {% endfor %}
  ]
  ,
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "ratingCount": "{{ page.cooktime }}"
  }
  /* ,
  "video": [
    {
    "@type": "VideoObject",
    "name": "How to make a Party Coffee Cake",
    "description": "This is how you make a Party Coffee Cake.",
    "thumbnailUrl": [
      "https://example.com/photos/1x1/photo.jpg",
      "https://example.com/photos/4x3/photo.jpg",
      "https://example.com/photos/16x9/photo.jpg"
     ],
    "contentUrl": "http://www.example.com/video123.mp4",
    "embedUrl": "http://www.example.com/videoplayer?video=123",
    "uploadDate": "2018-02-05T08:00:00+08:00",
    "duration": "PT1M33S",
    "interactionCount": "2347",
    "expires": "2019-02-05T08:00:00+08:00"
   }
  ]*/
}
</script>